{
    "env" :{
        "browser":true
    },
    "parser": "@babel/eslint-parser",
    "settings": {
      "react": {
          "version": "detect"
      }
  },
    "extends": [
      "airbnb",
      "eslint:recommended",
      "plugin:react/recommended"
  ],

    "rules": {
      "max-len": [1, 70, 2, { "ignoreComments": true }],
      "no-unused-vars": "warn",
      "no-shadow": "off",
      "linebreak-style":0,
      "global-require":0,
      "eslint linebreak-style":[0,"error","windows"],
      "object-curly-newline": "off",
      "semi": [2, "never"],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "default-param-last": 0,
      "arrow-body-style":0,
      "brace-style":0,
      "no-console":0
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "babelOptions":{"configFile":"./babel.config.js"}
        }
      }
}
