
.header
{
background-color:#00DDFF;
position:fixed;
left:0;
top:0;
width:100%;
z-index:10;
}

.header__container
{
max-width:1200px;
margin:0 auto;
display:flex;
align-items: center;
justify-content:space-between;
padding:2%;
}

.header__cart
{
width:4%;
position:relative;
img
{
width:100%;

}
.header__buttonCart
{
border:none;
border-radius:5%;
:hover
{
cursor:pointer;
}
:active
{
opacity:0.3;
}

.header__quantityBlock {
position:absolute;
background-color:red;
width:40%;
height:40%;
border-radius:50%;
top:0;
left:60%;
.header__quatityNumber
{
font-weight:bold
}
}
}
}

.header__searchPanel
{

}
