
.header
{
background-color:#00DDFF;
position:fixed;
left:0;
top:0;
width:100%;
z-index:10;
}

.header__container
{
max-width:1200px;
margin:0 auto;
display:flex;
align-items: center;
justify-content:space-between;
padding:2%;
}

.header__cart
{

width:4%;
position:relative;
padding:0 5%;
:hover .header__popupHint
{
    display:block;
}
img
{
width:100%;

}
.header__buttonCart
{
border:none;
border-radius:5%;
:active
{
opacity:0.3
}
:hover
{
cursor:pointer;
}



.header__quantityBlock {
position:absolute;
background-color:red;
width:10%;
height:40%;
border-radius:50%;
top:0;
left:55%;
.header__quatityNumber
{
font-weight:bold
}
}
}
/* this is popub hint styles
.header__popupHint
{
    display:none;
position:absolute;
font-size:0.8em;
border:2px solid blue;
background-color:white;
left:0;
top:50px;
}
*/
}

.header__searchPanel
{

}
