
.header
{
background-color:#00DDFF;
position:fixed;
left:0;
top:0;
width:100%;
z-index:10;
}

.header__container
{
max-width:1200px;
margin:0 auto;
display:flex;
align-items: center;
justify-content:space-between;
padding:2%;
}

.header__logo
{
font-weight:bold;
color:blue;
font-style:italic;
}

.header__searchPanel
{
    display:flex;
    justify-content: center;
    align-items: center;
    width:60%;
    height:25px;
}
.header__searchPanelContainer
{
    width:70%;
    text-align:center;
}
.header__searchArea,
.header__buttonSearch
{
border:2px solid red;
}
.header__searchArea
{
        width:70%;
        border-radius:5px  0 0 5px;
        background-color:#E0E0E0;
 &:focus
 {
    outline:none;
 }
}
.header__buttonSearch
{
width:20%;
border-radius:0  5px 5px 0;
background-color:red;
font-weight:bold;
color:white;
&:hover
{
cursor:pointer;
}
&:active
{
background-color:violet;
border:2px solid violet;
}
}






.header__cart
{
width:4vw;
position:relative;
}
.header__buttonCart
{
border:none;
border-radius:5%;
:active
{
opacity:0.3
}
:hover
{
cursor:pointer;
}
}
.header__quantityBlock {
position:absolute;
background-color:red;
width:40%;
height:40%;
border-radius:50%;
top:0;
left:60%;
display:flex;
align-items: center;
justify-content: center;
}
.header__quatityNumber
{
font-weight:bolder;
}

@media screen and (max-width:1200px)
{
    .header__quantityBlock
    {
font-size:calc(0.8em + (1 - 0.8) * (100vw - 320px)/(1200 - 320));
}
}

@media screen and  (max-width: 480px)
{
    .header__searchArea
    {
width:60%;
    }
    .header__buttonSearch
    {
width:30%;
    }
}

@media screen and (max-width:600px)
{
    .header__cart
    {
        width:7vw;
    }

    .header__quantityBlock
    {
        width:40%;
        height:40%;
        top:0;
    }

}
