.main
{
background-color:#EDF7F6;
flex:1 1 auto;
padding:15% 2% 0 2%;
}

.main__goodsList
{

display:flex;
align-items: center;
justify-content:space-between;
flex-wrap:wrap;
}

.main__good
{
margin:0 0 5% 0;
background-color:#808080;
}

.main__goodText
{
    text-align:center;

}

.main__price
{
margin:3% 0;
}

.main__goodImage {
width:100%;
overflow:hidden;
img
{
transition:transform 0.5s;

}
&:hover
{
    cursor:pointer;
   > img {
   transform:scale(1.1);
    }
}
}

.main__addToCart
{
text-align: center;
margin:4% 0;
}
.main__editQuantity
{
    display:flex;
    align-items: center;
justify-content:space-between;

width:50%;
margin:0 auto;

}


.main__minusQuantity,
.main__plusQuantity
{
    width: 0;
	height: 0;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
}
.main__minusQuantity
{
	border-left: 16px solid green;
}



.main__plusQuantity
{
             	border-right: 16px solid green;
}

.main__QuantityNumber,
.main__name,
.main__price,
.main__addToCartButton
{
font-weight:bold;
color:white;
}

.main__plusQuantityButton,
.main__minusQuantityButton,
.main__QuantityNumberButton,
.main__addToCartButton
{
    background-color:#2A6478;
    border-radius:5%;
    border:none;
    &:hover
    {
cursor:pointer;
    }
    &:active
    {
        background-color: red;
    }
}

.main__addToCartButton
{
width:60%;
height:25px;
}

@media (max-width:500px)
{
    .main__goodsList
    {

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    }
}