.main
{
background-color:#EDF7F6;
flex:1 1 auto;
padding:15% 2% 0 2%;
}

.main__goodsList
{
display:flex;
align-items: center;
justify-content:space-between;
}

.main__good
{
border:2px solid red;
}

.main__goodImage {
width:90%;
overflow:hidden;
img
{
transition:transform 0.5s;

}
&:hover
{
    cursor:pointer;
   > img {
   transform:scale(1.1);
    }
}
}

